/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
todo.md
/public/js/admin
/public/js/app
/public/fonts
/public/package.json
npm
/public/mix-manifest.json